<h1>To Do List</h1>
<h2><%= @list.title %></h2>
<h3><%= @list.task %></h3>
<h3><%= @list.deadline %></h3>
<h3><%= @list.status %></h3>
<%= link_to 'Back', lists_path %>
<%= link_to 'Edit list', edit_list_path(@list) %>
<%= link_to 'Destroy list', list_path(@list), method: :delete %>